
<div class="container" >
  <form [formGroup] = "myForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label for="name">Name</label>
        <input formControlName="name" placeholder="Your Name" class="form-control">
      </div>

      <div *ngIf="myForm.get('name').hasError('required') && myForm.get('name').dirty"
             class="alert alert-danger" >
         Name is required.
      </div>

      <div *ngIf="myForm.get('name').hasError('minlength')"
            class="alert alert-danger" >
        Length must be more then 2 characters
      </div>

      <div *ngIf="myForm.get('name').hasError('forbiddenNameValidator')"
          class="alert alert-danger" >
            Can't be this name
        </div>
        
      <div class="form-group">
        <label for="lastname">LastName</label>
        <input formControlName="lastname" placeholder="Your Lastname" class="form-control">
      </div>

      <div *ngIf="myForm.get('lastname').hasError('required') && myForm.get('lastname').dirty"
            class="alert alert-danger"   >
        Lastname is required
      </div>

      <div *ngIf="myForm.get('lastname').hasError('minlength')"
           class="alert alert-danger"   >
         Length must be more then 3 characters
      </div>

      <div class="form-group">
          <label for="lastname">email</label>
          <input formControlName="email" placeholder="Your email" class="form-control">
      </div>

      <div *ngIf="myForm.get('email').hasError('pattern')"
           class="alert alert-danger"   >
         Email is invalid
      </div>

      <div *ngIf="myForm.get('email').hasError('required') && myForm.get('email').dirty" 
             class="alert alert-danger">
           Email is required.
      </div>

      <!-- <div class="form-group">
          <label for="paswword">Password</label>
          <input type="password" formControlName="password" placeholder="Your password" class="form-control">
      </div>

      <div *ngIf="myForm.get('email').hasError('required') && myForm.get('email').dirty" 
             class="alert alert-danger">
          Email is required.
        </div>

      <div class="form-group">
          <label for="confirm">Confirm password</label>
          <input type="password" formControlName="confirm" placeholder="Confirm password" class="form-control">
      </div>
      <div *ngIf="myForm.get('confirm').hasError('duplicatePassword') && myForm.get('confirm').dirty" 
      class="alert alert-danger"> not confirn</div> -->
      <button type="submit" class="btn btn-success" [disabled] = "myForm.invalid">Send</button>
  </form>
</div>